/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}*/
body {
 
 /* background: linear-gradient(to right,rgb(255, 255, 255), rgb(31, 173, 255));*/
  background-image: url("ice.jpg");
  font-size: 10rem;
  
 
}
